<div class="offset-md-3 col-md-6">
@{
  Layout = "_Layout";
}

@using BakeryTreat.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder =
    @Html.DisplayNameFor(m=>m.Email), required="required"})

    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder =
    @Html.DisplayNameFor(m=>m.Password), required="required"})

    <input type="submit" value="Log in" class="btn btn-primary btn-block" />
}