@* <div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4"> *@

@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("See all treats", "Index", "Treats")</p> <p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>