<div class="offset-md-3 col-md-6">
@{
  Layout = "_Layout";
}

@model BakeryTreat.Models.Treat

<h4>Add new treat</h4>

@using (Html.BeginForm())
{
  @Html.TextBoxFor(m => m.TreatName, new { @class = "form-control", placeholder =
  @Html.DisplayNameFor(m=>m.TreatName), required="required"})

  <input type="submit" value="Add new treat" class="btn btn-primary btn-block" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>